.dashform {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 50vw;
  /* background: #1c8ef9 !important; */
  overflow-y: scroll;
}

.logoutbtn {
  margin: 10px;
}

.buttongroupbg {
  background-color: #fff;
}
